@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.jumbotron {
  background-image: url('./images/Books.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-attachment: fixed;
  margin-bottom: 1rem;
}

.Header-jumbotron {
  padding: 0 0 0 5rem;
}

.searchForm {
  background: transparent;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.bookDescription {
  width: 100%;
  margin-bottom: 0.5rem;
  display: block;
  display: -webkit-box;
  line-height: 1.2em;
  max-height: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.card-footer {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}